
docs/.DS_Store
docs/source/.DS_Store
docs/_build
samples/nucleardatapy_plots/figs/plot_SetupEsymLsym.png
data/isgmr/.DS_Store
.DS_Store
data/eos/pheno/Skyrme/.DS_Store
data/eos/pheno/Skyrme/.DS_Store
samples/nucleardatapy_plots/.DS_Store
.history
__pycache__
.ipynb_checkpoints
*.pyc
*.pycache*
